---
layout: feature
title: GitLab - a Complete DevOps Platform
description: "A complete DevOps Platform, deployed as a single application."
suppress_header: true
canonical_path: "/solutions/devops-platform/"
extra_css:
  - solutions-v3.css
  - comparison-page-v2.css
  - carousel.css

extra_js:
  - comparison-v2.js
  - bootstrap-tooltip.js
  - carousel.js
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content-x
    = image_tag "/images/devops-tools/gitlab-logo.svg", class: "hero-image-small", alt: "Gitlab logo svg"
    %h1 DevOps Platform
    %p
      Bring tools together in a single application for unparalleled collaboration, visibility, and development velocity
    = link_to "Try GitLab Free", "/free-trial/", class: "btn cta-btn orange"

.wrapper.gitlab-ee-page

  .sub-wrapper
    .content-container.padding-vertical20

      .content-container.padding-vertical0.white-bg
        / ----- This creates the two panel section Text-Video DevOps Platform
        .container
          = partial('includes/solutions/devops-platform/old/1-devops-platform.html.haml')

      .content-container.padding-vertical0.white-bg
        / ----- This creates a three column section 
        .container
          = partial('includes/solutions/devops-platform/old/4-value-drivers.html.haml')

      .content-container.padding-vertical0.white-bg
        / ----- This creates a screen wide section of text with a bullet list
        .container
          = partial('includes/solutions/devops-platform/old/2-gitlab-advantages.html.haml')

      .content-container.padding-vertical0.white-bg
        / ----- This creates a one panel section Text - Testimonial
        .container
          = partial('includes/solutions/devops-platform/old/5-testimonial.html.haml')

      .content-container.padding-vertical0.white-bg
        / ----- This creates a one panel section Text-Video - Resources
        .container
          = partial('includes/solutions/devops-platform/old/10-resources.html.haml')
